<%= form_for ([@parking, @place]) do |f| %>
 <% if @place.errors.any? %>
    <ul>
      <% @place.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <p>
    <b>Start date</b><br>
    <%= f.datetime_select :start_date %>
  </p>

  <p>
    <b>End date</b><br>
    <%= f.datetime_select :end_date %>
  </p>

  <p>
    <b>Select car</b><br>
    <%= f.collection_select :car_id, current_person.cars, :id, :model, { prompt: 'Select car' }  %>
  </p>
  
  <p>
    <%= f.submit %>
  </p>
<% end %>
