<div class = "container">
  <%= form_for ([@parking, @place]) do |f| %>

    <%= render "layouts/error_messages", object: @place %>

    <p>
      <b>Start date</b><br>
      <%= f.datetime_select :start_date %>
    </p>

    <p>
      <b>End date</b><br>
      <%= f.datetime_select :end_date %>
    </p>

    <p>
      <b>Select car</b><br>
      <%= f.collection_select :car_id, current_person.cars, :id, :model, { prompt: 'Select car' }  %>
    </p>

    <p>
      <%= f.submit %>
    </p>
  <% end %>
</div>
