.container
  .row
    .col-md-10.col-md-offset-1
      %table.table.table-bordered.table-hover
        %thead
          %tr
            %th Parking
            %th Car
            %th Start date
            %th End date
            %th
        %tbody
          - @places.each do |place|
            %tr{id: "place_rent_#{place.id}"}
              %td
                - if place.parking && place.parking.address
                  = link_to place.parking.address.city, place.parking
              %td= link_to place.car.try(:model), place.car
              %td= place.start_date.to_formatted_s(:short)
              %td= place.end_date.to_formatted_s(:short)
              %td= link_to "Show", place_rent_path(place)
