<h1>Place rent</h1>

<table>
  <thead>
    <tr>
      <th colspan="3">Parking</th>
      <th colspan="3">Car</th>
      <th colspan="3">Start date</th>
      <th colspan="3">End date</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="3">
        <% if @place.parking && @place.parking.address %>
          <%= link_to @place.parking.address.city, @place.parking %>
        <% else %>
          No city
        <% end %>
      </td>
      <td colspan="3">
        <% if @place.car && @place.car.model %>
          <%= link_to @place.car.model, @place.car %>
        <% else %>
          No model
        <% end %>
      </td>
      <td colspan="3"><%= @place.start_date %></td>
      <td colspan="3"><%= @place.end_date %></td>
      <td colspan="3"><%= link_to "Show", @place %></td>
    </tr>
  </tbody>
</table>
<br>
<%= link_to "<<< Back", place_rents_path %>
