<%= form_for(@parking) do |f| %>
 <% if @parking.errors.any? %>
  <%= pluralize(@parking.errors.count, "error") %> prohibited this parking from being saved:
    <% @parking.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
  <% end %>
  
  <p>
    <b>Parking places</b><br>
    <%= f.text_field :places %>
  </p>
  
  <p>
    <b>Parking kind</b><br>
    <%= f.text_field :kind %>
  </p>
  
  <p>
    <b>Parking hour price</b><br>
    <%= f.text_field :hour_price %>
  </p>
  
  <p>
    <b>Parking day price</b><br>
    <%= f.text_field :day_price %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
