.row.navbar-fixed-bottom.well
  .col-md-12
    = form_tag parkings_path, method: "get" do
      .row
        .col-md-2
          .form-group.form-inline
            = label_tag :city, "City"
            = text_field_tag :city, params[:city], class: "form-control input-sm"
            %br/
        .col-md-2
          .form-group.form-inline
            .checkbox
              = label_tag :private_parking, "Private"
              = check_box_tag :private_parking, 1, params[:private_parking]
            .checkbox
              = label_tag :public_parking, "Public"
              = check_box_tag :public_parking, 1, params[:public_parking]
        .col-md-3
          .form-group.form-inline
            %label Day price
            .input-group
              %div.input-group-addon.h6 min
              = text_field_tag :min_day_price, params[:min_day_price], size: 2, class: "form-control input-sm"
            .input-group
              %div.input-group-addon.h6 max
              = text_field_tag :max_day_price, params[:max_day_price], size: 2, class: "form-control input-sm"
        .col-md-3
          .form-group.form-inline
            %label Hour price
            .input-group
              %div.input-group-addon.h6 min
              = text_field_tag :min_hour_price, params[:min_hour_price], size: 2, class: "form-control input-sm"
            .input-group
              %div.input-group-addon.h6 max
              = text_field_tag :max_hour_price, params[:max_hour_price], size: 2, class: "form-control input-sm"
        .col-md-1
          .form-group
            = submit_tag "Search for parkings", class: "btn btn-primary"
