<h1>Listing Parkings</h1>
 
<table>
  <tr>
    <th colspan="3">City</th>
    <th colspan="3">Places</th>
    <th colspan="3">Hour price</th>
    <th colspan="3">Day price</th>
    <th colspan="3"></th>
    <th colspan="3"></th>
    <th colspan="3"></th>
    <th colspan="3"></th>
  </tr>
 
<% @parkings.each do |parking| %>
  <tr>
    <td colspan="3"><% if parking.address %><%= parking.address.city %><% end %></td>
    <td colspan="3"><%= parking.places %></td>
    <td colspan="3"><%= parking.hour_price %></td>
    <td colspan="3"><%= parking.day_price %></td>
    <% if current_person %>
      <td colspan="3"><%= link_to "RENT", new_parking_place_rent_path(parking.id) %>
    <% end %>
    <td colspan="3"><%= link_to "Show", parking %></td>
    <td colspan="3"><%= link_to "Edit", edit_parking_path(parking) %></td>
    <td colspan="3"><%= link_to "Remove", parking, method: :delete, data: { confirm: "Are you sure?" } %></td>
  </tr>
<% end %>
</table>
<br>
<h3> Search for parking: </h3>
<%= form_tag(parkings_path, method: "get") do %>
  <div>
    <%= label_tag(:city, "City:") %>
    <%= text_field_tag :city %><br>
  </div>
  <div>
    <%= label_tag(:min_day_price, "Min day price") %>
    <%= text_field_tag :min_day_price, '', size: 2 %>
    <%= label_tag(:max_day_price, "Max day price") %>
    <%= text_field_tag :max_day_price, '', size: 2 %>
  </div>
  <div>
    <%= label_tag(:min_hour_price, "Min hour price") %>
    <%= text_field_tag :min_hour_price, '', size: 2 %>
    <%= label_tag(:max_hour_price, "Max hour price") %>
    <%= text_field_tag :max_hour_price, '', size: 2 %>
  </div>
  <div>
    <%= label_tag(:private_parking, "Private") %>
    <%= check_box_tag("private_parking") %>
    <%= label_tag(:public_parking, "Public") %>
    <%= check_box_tag("public_parking") %>
  </div> 
  <div>
  <%= submit_tag("Search") %>
  </div>
<% end %>

<br>
<%= link_to "Add new parking", new_parking_path(@parking) %>
