%h1 Listing Parkings
%table
  %tr
    %th{:colspan => "3"} City
    %th{:colspan => "3"} Places
    %th{:colspan => "3"} Hour price
    %th{:colspan => "3"} Day price
    %th{:colspan => "3"}
    %th{:colspan => "3"}
    %th{:colspan => "3"}
    %th{:colspan => "3"}
  - @parkings.each do |parking|
    %tr
      %td{:colspan => "3"}
        - if parking.address
          = parking.address.city
      %td{:colspan => "3"}= parking.places
      %td{:colspan => "3"}= parking.hour_price
      %td{:colspan => "3"}= parking.day_price
      - if current_person
        %td{:colspan => "3"}= link_to "RENT", new_parking_place_rent_path(parking.id)
        
      %td{:colspan => "3"}= link_to "Show", parking
      %td{:colspan => "3"}= link_to "Edit", edit_parking_path(parking)
      %td{:colspan => "3"}= link_to "Remove", parking, method: :delete, data: { confirm: "Are you sure?" }
%br/
%h3 Search for parking:
= form_tag(parkings_path, method: "get") do
  %div
    = label_tag(:city, "City:")
    = text_field_tag :city, params[:city]
    %br/
  %div
    = label_tag(:min_day_price, "Min day price")
    = text_field_tag :min_day_price, params[:min_day_price], size: 2
    = label_tag(:max_day_price, "Max day price")
    = text_field_tag :max_day_price, params[:max_day_price], size: 2
  %div
    = label_tag(:min_hour_price, "Min hour price")
    = text_field_tag :min_hour_price, params[:min_hour_price], size: 2
    = label_tag(:max_hour_price, "Max hour price")
    = text_field_tag :max_hour_price, params[:max_hour_price], size: 2
    %div
      = label_tag(:private_parking, "Private")
      = check_box_tag :private_parking, 1, params[:private_parking]
      = label_tag(:public_parking, "Public")
      = check_box_tag :public_parking, 1, params[:public_parking]
    %div
      = submit_tag("Search")
    %br/
    = link_to "Add new parking", new_parking_path(@parking)
