.container
  .row
    .col-md-10.col-md-offset-1
      %table.table.table-bordered.table-hover
        %tr
          %th City
          %th Places
          %th Hour price
          %th Day price
          - if current_person
            %th
            %th
            %th
            %th
        - @parkings.each do |parking|
          %tr
            %td
              - if parking.address
                = parking.address.city
            %td= parking.places
            %td= parking.hour_price
            %td= parking.day_price
            - if current_person
              %td= link_to "RENT", new_parking_place_rent_path(parking.id)
              %td= link_to "Show", parking
              %td= link_to "Edit", edit_parking_path(parking)
              %td= link_to "Remove", parking, method: :delete, data: { confirm: "Are you sure?" }

      = will_paginate @parkings, renderer: BootstrapPagination::Rails

  = render 'parkings/search'

  %br/
  = link_to "Add new parking", new_parking_path(@parking)
