.container
  .row
    .col-md-10.col-md-offset-1
      %table.table.table-bordered.table-hover.text-center
        %tr
          %th.text-center City
          %th.text-center Places
          %th.text-center Hour price
          %th.text-center Day price
          - if current_person
            %th.text-center Actions
        - @parkings.each do |parking|
          %tr
            %td
              - if parking.address
                = parking.address.city
            %td= parking.places
            %td= parking.hour_price
            %td= parking.day_price
            - if current_person
              %td
                = link_to new_parking_place_rent_path(parking.id), class: "btn button-lg text-danger" do
                  %span.glyphicon.glyphicon-shopping-cart
                = link_to parking, class: "btn button-lg" do
                  %span.glyphicon.glyphicon-eye-open
                = link_to edit_parking_path(parking), class: "btn button-lg" do
                  %span.glyphicon.glyphicon-pencil
                = link_to parking, method: :delete, data: { confirm: "Are you sure?" }, class: "btn button-lg" do
                  %span.glyphicon.glyphicon-trash

      = will_paginate @parkings, renderer: BootstrapPagination::Rails
      %br/
      = link_to new_parking_path(@parking), class: "btn button-lg" do
        %span.glyphicon.glyphicon-plus.space
        new parking

  = render 'parkings/search'
