<h1> Show parking </h1>

<table>
  <tr>
    <th>City</th>
    <th>Kind</th>
    <th>Places</th>
    <th>Hour price</th>
    <th>Day price</th>
  </tr>

  <tr>
    <td><%= @parking.address.city if @parking.address %></td>
    <td><%= @parking.kind %></td>
    <td><%= @parking.places %></td>
    <td><%= @parking.hour_price %></td>
    <td><%= @parking.day_price %></td>
  </tr>
</table>

<%= link_to "<<< Back", parkings_path %>
