<div class = "container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <table class="table table-bordered table-hover">
        <tr>
          <th>City</th>
          <th>Zip code</th>
          <th>Street</th>
          <th>Owner</th>
          <th>Kind</th>
          <th>Places</th>
          <th>Hour price</th>
          <th>Day price</th>
          <% if current_person %>
            <th>Actions</th>
          <% end %>
        </tr>

        <tr>
          <td><%= @parking.address.try(:city) %></td>
          <td><%= @parking.address.try(:zip_code) %></td>
          <td><%= @parking.address.try(:street) %></td>
          <td><%= @parking.owner.try(:full_name) %></td>
          <td><%= @parking.kind %></td>
          <td><%= @parking.places %></td>
          <td><%= @parking.hour_price %></td>
          <td><%= @parking.day_price %></td>
          <% if current_person %>
            <td>
              <%= link_to edit_parking_path(@parking), class: "btn button-lg" do %>
                <span class="glyphicon glyphicon-pencil"></span>
              <% end %>
              <%= link_to @parking, method: :delete, data: { confirm: "Are you sure?" }, class: "btn button-lg" do %>
                <span class="glyphicon glyphicon-trash"></span>
              <% end %>
            </td>
          <% end %>
        </tr>
      </table>
      <%= link_to parkings_path, class: "btn button-lg" do %>
        <span class="glyphicon glyphicon-backward space"></span> back to parkings
      <% end %>
    </div>
  </div>
</div>
