.container
  .row
    .col-md-10.col-md-offset-1
      %table.table.table-bordered.table-hover.text-center
        %thead
          %tr
            %th.text-center Car model
            %th.text-center Number
            - if current_person
              %th.text-center Actions
        %tbody
          - @cars.each do |car|
            %tr
              %td= car.model
              %td= car.registration_number
              %td
                = link_to car, class: "btn button-lg" do
                  %span.glyphicon.glyphicon-eye-open
                = link_to edit_car_path(car), class: "btn button-lg" do
                  %span.glyphicon.glyphicon-pencil
                = link_to car, method: :delete, data: { confirm: "Are you sure?" }, class: "btn button-lg" do
                  %span.glyphicon.glyphicon-trash
      %br/
      = link_to new_car_path, class: "btn button-lg" do
        %span.glyphicon.glyphicon-plus.space
        new car
