<div class = "container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <table class = "table table-bordered table-hover">
        <thead>
          <tr>
            <th>Owner</th>
            <th>Model</th>
            <th>Number</th>
            <% if current_person %>
              <th>Actions</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @car.owner.first_name %></td>
            <td><%= @car.model %></td>
            <td><%= @car.registration_number %></td>
            <% if current_person %>
              <td>
                <%= link_to edit_car_path(@car), class: "btn button-lg" do %>
                  <span class="glyphicon glyphicon-pencil"></span>
                <% end %>
                <%= link_to @car, method: :delete, data: { confirm: "Are you sure?" }, class: "btn button-lg" do %>
                  <span class="glyphicon glyphicon-trash"></span>
                <% end %>
              </td>
            <% end %>
          </tr>
        </tbody>
      </table>
      <% if @car.image_stored? %>
        <div class="image">
          <%= image_tag @car.image.thumb('400x200#').url %>
        </div>
      <% end %>
      <br>
      <%= link_to cars_path, class: "btn button-lg" do %>
        <span class="glyphicon glyphicon-backward space"></span> back to cars
      <% end %>
    </div>
  </div>
</div>
