<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <ul class="nav navbar-nav">
      <% if current_person %>
        <li> Logged in as <%= current_person.full_name %>.</li>
        <li><%= link_to "Log out", :session, method: :delete %>
        <li><%= link_to "Cars", cars_path %></li>
        <li><%= link_to "Rents", place_rents_path %></li>
      <% else %>
        <li><%= link_to "Log in", login_path %></li>
        <li><%= link_to "Log in with Facebook", facebook_login_path %></li>
        <li><%= link_to "Sign up", register_path %></li>
      <% end %>
      <li><%= link_to "Parkings", parkings_path %></li>
    </ul>
  </li>
</nav>
